.form-control{
    display:flex;
    width: 65%;
    justify-content: space-between;
}
h1{
    text-align: center;
}
nav{
    text-align: center;
}
.product{
    padding-top: 100px;
}
img{
    width: 15%;
}
.button{
    margin-bottom: 20px;
}
